<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Ufly</servlet-name>
		<servlet-class>ufly.frs.UflyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Ufly</servlet-name>
		<url-pattern>/ufly</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>SystemServiceServlet</servlet-name>
	    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
	    <init-param>
	         <param-name>services</param-name>
	         <param-value/>
	    </init-param>
	</servlet>
	<servlet-mapping>
	    <servlet-name>SystemServiceServlet</servlet-name>
	    <url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>
	<!-- LOGIN PAGE -->
	<servlet>
		<servlet-name>loginPage</servlet-name>
		<servlet-class>ufly.frs.Uflylogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginPage</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<!-- SESSION TEST -->
	<servlet>
		<servlet-name>test</servlet-name>
		<servlet-class>ufly.frs.UflySessionCounter</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>test</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
</web-app>