<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Ufly</servlet-name>
		<servlet-class>ufly.frs.Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Ufly</servlet-name>
		<url-pattern>/ufly</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>SystemServiceServlet</servlet-name>
	    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
	    <init-param>
	         <param-name>services</param-name>
	         <param-value/>
	    </init-param>
	</servlet>
	<servlet-mapping>
	    <servlet-name>SystemServiceServlet</servlet-name>
	    <url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>
	<!-- LOGIN PAGE -->
	<servlet>
		<servlet-name>loginPage</servlet-name>
		<servlet-class>ufly.frs.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginPage</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<!-- SIGNED UP PAGE -->
	<servlet>
		<servlet-name>signedUpPage</servlet-name>
		<servlet-class>ufly.frs.SignedUp</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>signedUpPage</servlet-name>
		<url-pattern>/signedup</url-pattern>
	</servlet-mapping>
	<!-- SEARCH -->
	<servlet>
	   <servlet-name>flightSearch</servlet-name>
	   <servlet-class>ufly.frs.Search</servlet-class>
	</servlet>
	<servlet-mapping>
	   <servlet-name>flightSearch</servlet-name>
	   <url-pattern>/search</url-pattern>
	</servlet-mapping>
	<!-- SELECT FLIGHT -->
	<servlet>
	   <servlet-name>flightSelect</servlet-name>
	   <servlet-class>ufly.frs.Select</servlet-class>
	</servlet>
	<servlet-mapping>
	   <servlet-name>flightSelect</servlet-name>
	   <url-pattern>/select</url-pattern>
	</servlet-mapping>
	<!-- BOOK -->
	<servlet>
	   <servlet-name>bookCreate</servlet-name>
	   <servlet-class>ufly.frs.BookCreate</servlet-class>
	</servlet>
	<servlet-mapping>
	   <servlet-name>bookCreate</servlet-name>
	   <url-pattern>/createBooking</url-pattern>
	</servlet-mapping>
	<!-- CUSTOMER PROFILE PAGE -->
	<servlet>
		<servlet-name>customerProfile</servlet-name>
		<servlet-class>ufly.frs.CustomerProfile</servlet-class>
		<init-param>
	            <param-name>action</param-name>
	            <param-value>index</param-value>
	    </init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>customerProfile</servlet-name>
		<url-pattern>/customerProfile</url-pattern>
	</servlet-mapping>
	<!-- CUSTOMER PROFILE EDIT PAGE -->
	<servlet>
		<servlet-name>customerProfile_edit</servlet-name>
		<servlet-class>ufly.frs.CustomerProfile</servlet-class>
		<init-param>
	            <param-name>action</param-name>
	            <param-value>edit</param-value>
	    </init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>customerProfile_edit</servlet-name>
		<url-pattern>/customerProfile/edit</url-pattern>
	</servlet-mapping>
	<!-- CUSTOMER FLIGHTBOOKINGS PAGE -->
	<servlet>
		<servlet-name>customerFlightbookings</servlet-name>
		<servlet-class>ufly.frs.CustomerFlightbookings</servlet-class>
		<init-param>
	            <param-name>action</param-name>
	            <param-value>index</param-value>
	    </init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>customerFlightbookings</servlet-name>
		<url-pattern>/customerFlightbookings</url-pattern>
	</servlet-mapping>
	<!-- CUSTOMER FLIGHTBOOKINGS EDIT PAGE -->
	<servlet>
		<servlet-name>customerFlightbookings_edit</servlet-name>
		<servlet-class>ufly.frs.CustomerFlightbookings</servlet-class>
		<init-param>
	            <param-name>action</param-name>
	            <param-value>edit</param-value>
	    </init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>customerFlightbookings_edit</servlet-name>
		<url-pattern>/customerFlightbookings/edit</url-pattern>
	</servlet-mapping>
	<!-- CUSTOMER FLIGHTBOOKINGS SHOW PAGE -->
	<servlet>
		<servlet-name>customerFlightbookings_show</servlet-name>
		<servlet-class>ufly.frs.CustomerFlightbookings</servlet-class>
		<init-param>
	            <param-name>action</param-name>
	            <param-value>show</param-value>
	    </init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>customerFlightbookings_show</servlet-name>
		<url-pattern>/customerProfile/showFlightbookings</url-pattern>
	</servlet-mapping>
	<!-- CUSTOMER FLIGHTBOOKINGS CHECK IN PAGE -->
	<servlet>
		<servlet-name>customerFlightbookings_checkin</servlet-name>
		<servlet-class>ufly.frs.CustomerFlightbookings</servlet-class>
		<init-param>
	            <param-name>action</param-name>
	            <param-value>check-in</param-value>
	    </init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>customerFlightbookings_checkin</servlet-name>
		<url-pattern>/customerProfile/checkinFlightbookings</url-pattern>
	</servlet-mapping>
	<!-- FLIGHT MANAGER PAGE -->
	<servlet>
		<servlet-name>flightManagerProfilePage</servlet-name>
		<servlet-class>ufly.frs.FlightManagerProfile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>flightManagerProfilePage</servlet-name>
		<url-pattern>/flightManagerProfile</url-pattern>
	</servlet-mapping>
	<!-- ADMIN FLIGHTS PAGE -->
	<servlet>
		<servlet-name>adminFlights</servlet-name>
		<servlet-class>ufly.frs.AdminFlights</servlet-class>
		<init-param>
	            <param-name>action</param-name>
	            <param-value>index</param-value>
	    </init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>adminFlights</servlet-name>
		<url-pattern>/_adminFlights</url-pattern>
	</servlet-mapping>
	<!-- ADMIN ADD FLIGHTS PAGE -->
	<servlet>
		<servlet-name>adminFlights_create</servlet-name>
		<servlet-class>ufly.frs.AdminFlights</servlet-class>
		<init-param>
	            <param-name>action</param-name>
	            <param-value>create</param-value>
	    </init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>adminFlights_create</servlet-name>
		<url-pattern>/flightManagerProfile/addFlights</url-pattern>
	</servlet-mapping>
	<!-- ADMIN EDIT FLIGHTS PAGE -->
	<servlet>
		<servlet-name>adminFlights_edit</servlet-name>
		<servlet-class>ufly.frs.AdminFlights</servlet-class>
		<init-param>
	            <param-name>action</param-name>
	            <param-value>edit</param-value>
	    </init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>adminFlights_edit</servlet-name>
		<url-pattern>/flightManagerProfile/editFlights</url-pattern>
	</servlet-mapping>
	<!-- ADMIN FLIGHTBOOKINGS PAGE -->
	<servlet>
		<servlet-name>adminFlightbookings</servlet-name>
		<servlet-class>ufly.frs.AdminFlightbookings</servlet-class>
		<init-param>
	            <param-name>action</param-name>
	            <param-value>index</param-value>
	    </init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>adminFlightbookings</servlet-name>
		<url-pattern>/_adminFlightbookings</url-pattern>
	</servlet-mapping>
	<!-- ADMIN ADD FLIGHTBOOKINGS PAGE -->
	<servlet>
		<servlet-name>adminFlightbookings_create</servlet-name>
		<servlet-class>ufly.frs.AdminFlightbookings</servlet-class>
		<init-param>
	            <param-name>action</param-name>
	            <param-value>create</param-value>
	    </init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>adminFlightbookings_create</servlet-name>
		<url-pattern>/_adminFlightbookings/addFlightbookings</url-pattern>
	</servlet-mapping>
	<!-- ADMIN AIRPORTS PAGE -->
	<servlet>
		<servlet-name>adminAirports</servlet-name>
		<servlet-class>ufly.frs.AdminAirports</servlet-class>
		<init-param>
	            <param-name>action</param-name>
	            <param-value>index</param-value>
	    </init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>adminAirports</servlet-name>
		<url-pattern>/_adminAirports</url-pattern>
	</servlet-mapping>
		<!-- ADMIN ADD AIRPORTS PAGE -->
	<servlet>
		<servlet-name>adminAirports_create</servlet-name>
		<servlet-class>ufly.frs.AdminAirports</servlet-class>
		<init-param>
	            <param-name>action</param-name>
	            <param-value>create</param-value>
	    </init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>adminAirports_create</servlet-name>
		<url-pattern>/flightManagerProfile/addAirports</url-pattern>
	</servlet-mapping>
	<!-- HEADER -->
	<servlet>
		<servlet-name>_header</servlet-name>
		<servlet-class>ufly.frs.Includer</servlet-class>
		<init-param>
	            <param-name>page</param-name>
	            <param-value>header</param-value>
	    </init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>_header</servlet-name>
		<url-pattern>/_header</url-pattern>
	</servlet-mapping>
	<!-- FOOTER -->
	<servlet>
		<servlet-name>_footer</servlet-name>
		<servlet-class>ufly.frs.Includer</servlet-class>
		<init-param>
            <param-name>page</param-name>
            <param-value>footer</param-value>
        </init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>_footer</servlet-name>
		<url-pattern>/_footer</url-pattern>
	</servlet-mapping>
	<!-- NAVBAR -->
	<servlet>
		<servlet-name>_navbar</servlet-name>
		<servlet-class>ufly.frs.Includer</servlet-class>
		<init-param>
            <param-name>page</param-name>
            <param-value>navbar</param-value>
        </init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>_navbar</servlet-name>
		<url-pattern>/_navbar</url-pattern>
	</servlet-mapping>
	<!-- ENTITY TEST -->
	<servlet>
		<servlet-name>test</servlet-name>
		<servlet-class>ufly.frs.Test</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>test</servlet-name>
		<url-pattern>/entityTest</url-pattern>
	</servlet-mapping>
	<!-- AIRPORT TEST PAGE -->
	<servlet>
		<servlet-name>airportTestPage</servlet-name>
		<servlet-class>ufly.frs_test.AirportTest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>airportTestPage</servlet-name>
		<url-pattern>/airportTest</url-pattern>
	</servlet-mapping>
	<!-- FLIGHT MANAGER TEST PAGE -->
	<servlet>
		<servlet-name>flightmanagerTestPage</servlet-name>
		<servlet-class>ufly.frs_test.FlightManagerTest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>flightmanagerTestPage</servlet-name>
		<url-pattern>/flightmanagerTest</url-pattern>
	</servlet-mapping>
	<!-- FLIGHT STAFF TEST PAGE -->
	<servlet>
		<servlet-name>flightstaffTestPage</servlet-name>
		<servlet-class>ufly.frs_test.FlightStaffTest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>flightstaffTestPage</servlet-name>
		<url-pattern>/flightstaffTest</url-pattern>
	</servlet-mapping>
		<!-- SEAT TEST PAGE -->
	<servlet>
		<servlet-name>seatTestPage</servlet-name>
		<servlet-class>ufly.frs_test.seatTest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>seatTestPage</servlet-name>
		<url-pattern>/seatTest</url-pattern>
	</servlet-mapping>
		<!-- SEATING ARRANGEMENT TEST PAGE -->
	<servlet>
		<servlet-name>seatingarrangementTestPage</servlet-name>
		<servlet-class>ufly.frs_test.SeatingArrangementTest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>seatingarrangementTestPage</servlet-name>
		<url-pattern>/seatingarrangementTest</url-pattern>
	</servlet-mapping>
		<!-- FLIGHT TEST PAGE -->
	<servlet>
		<servlet-name>flightTestPage</servlet-name>
		<servlet-class>ufly.frs_test.FlightTest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>flightTestPage</servlet-name>
		<url-pattern>/flightTest</url-pattern>
	</servlet-mapping>
		<!-- CUSTOMER TEST PAGE -->
	<servlet>
		<servlet-name>customerTestPage</servlet-name>
		<servlet-class>ufly.frs_test.CustomerTest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>customerTestPage</servlet-name>
		<url-pattern>/customerTest</url-pattern>
	</servlet-mapping>
		<!-- FLIGHTBOOKING TEST PAGE -->
	<servlet>
		<servlet-name>flightbookingTestPage</servlet-name>
		<servlet-class>ufly.frs_test.FlightBookingTest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>flightbookingTestPage</servlet-name>
		<url-pattern>/flightbookingTest</url-pattern>
	</servlet-mapping>
</web-app>